In [16]:
import pandas as pd

In [48]:
data = pd.read_csv("201801_ParticipantesLicitacao.csv", sep=";", encoding="latin-1", low_memory=False)
data.head()

,Código Órgão,Nome Órgão,Código UG,Nome UG,Número Licitação,Código Item Compra,Descrição Item Compra,CNPJ Participante,Nome Participante,Flag Vencedor
0,26418,"INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO",151911,IFPE - CAMPUS AFOGADOS DA INGAZEIRA,12016,1519110500001200000000,PRESTACAO DE SERVICO DE LIMPEZA E CONSERVACAO ...,8398304000160,PARA SERVICOS CONSTRUCAO & MAO DE OBRA LTDA,NÃO
1,26418,"INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO",151911,IFPE - CAMPUS AFOGADOS DA INGAZEIRA,12016,1519110500001200000000,PRESTACAO DE SERVICO DE LIMPEZA E CONSERVACAO ...,323090000151,SOLL -SERVICOS OBRAS E LOCACOES LTDA,NÃO
2,26418,"INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO",151911,IFPE - CAMPUS AFOGADOS DA INGAZEIRA,12016,1519110500001200000000,PRESTACAO DE SERVICO DE LIMPEZA E CONSERVACAO ...,9019150000111,ATITUDE TERCEIRIZCAO DE MAO DE OBRA EIRELI,NÃO
3,26418,"INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO",151911,IFPE - CAMPUS AFOGADOS DA INGAZEIRA,12016,1519110500001200000000,PRESTACAO DE SERVICO DE LIMPEZA E CONSERVACAO ...,13146946000102,PP LIMPEZA E CONSERVACAO LTDA,NÃO
4,26418,"INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO",151911,IFPE - CAMPUS AFOGADOS DA INGAZEIRA,12016,1519110500001200000000,PRESTACAO DE SERVICO DE LIMPEZA E CONSERVACAO ...,3325436000149,MARANATA PRESTADORA DE SERVICOS E CONSTRUCOES ...,NÃO

In [49]:
#from sqlalchemy import create_engine
#engine = create_engine("mysql://root:@localhost:3306/association")
#con = engine.connect()
#data.to_sql('licitacoes', con=con, if_exists='append', index=False)

In [50]:
data.drop(["Nome Órgão", "Código Órgão", "Código UG", "Nome UG", "Descrição Item Compra", "Nome Participante"], axis=1, inplace=True)

In [51]:
data.head()

   Número Licitação      Código Item Compra CNPJ Participante Flag Vencedor
0             12016  1519110500001200000000     8398304000160           NÃO
1             12016  1519110500001200000000      323090000151           NÃO
2             12016  1519110500001200000000     9019150000111           NÃO
3             12016  1519110500001200000000    13146946000102           NÃO
4             12016  1519110500001200000000     3325436000149           NÃO

In [54]:
data.replace(["NÃO", "Não", "não"], 0)
data.replace(["SIM", "Sim", "sim"], 1)
data.head()

   Número Licitação      Código Item Compra CNPJ Participante Flag Vencedor
0             12016  1519110500001200000000     8398304000160           NÃO
1             12016  1519110500001200000000      323090000151           NÃO
2             12016  1519110500001200000000     9019150000111           NÃO
3             12016  1519110500001200000000    13146946000102           NÃO
4             12016  1519110500001200000000     3325436000149           NÃO

In [55]:
data.map({'SIM': 1, 'NÃO': 0})
data.head()

AttributeError: 'DataFrame' object has no attribute 'map'