In [49]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root@localhost:3306/tcc', echo=False)

In [38]:
data = pd.read_csv("201801_ParticipantesLicitacao.csv", sep=";", encoding="latin-1", low_memory=False)


data.drop(["Nome Órgão", "Código Órgão", "Código UG", "Nome UG", "Descrição Item Compra", "Nome Participante"], axis=1, inplace=True)
data.sort_values(['Número Licitação', 'Código Item Compra', 'CNPJ Participante'])
data.head()

   Número Licitação      Código Item Compra CNPJ Participante Flag Vencedor
0             12016  1519110500001200000000     8398304000160           NÃO
1             12016  1519110500001200000000      323090000151           NÃO
2             12016  1519110500001200000000     9019150000111           NÃO
3             12016  1519110500001200000000    13146946000102           NÃO
4             12016  1519110500001200000000     3325436000149           NÃO

In [53]:
participantes = data['CNPJ Participante'].drop_duplicates()
print(len(participantes))

participantes.to_sql('participantes', con=engine, index=False, index_label='id', if_exists='replace')
#engine.execute("SELECT * FROM participantes").fetchall()

15473

In [72]:
#licitacoes
dataL = []

for licitacao in licitacoes:
    dataL.append(data.loc[data['Número Licitação'] == licitacao])

#dataL.count()
len(dataL)

476

In [73]:
#dataL.groupby(['Código Item Compra']).size()

In [74]:
#dataL.groupby(['CNPJ Participante']).size()