In [11]:
import pandas as pd
import sqlalchemy as sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://root@localhost:3306/tcc', echo=False)

In [52]:
data = pd.read_csv("201801_ParticipantesLicitacao.csv", sep=";", encoding="latin-1", low_memory=False)
data.drop(["Nome Órgão", "Código Órgão", "Nome UG", "Descrição Item Compra", "Nome Participante"], axis=1, inplace=True)

#licitacoes = pd.DataFrame(data, columns = ['Código UG', 'Número Licitação', 'Código Item Compra', 'CNPJ Participante', 'Flag Vencedor'])
data.count()

Código UG             411022
Número Licitação      411022
Código Item Compra    411022
CNPJ Participante     411022
Flag Vencedor         411022
dtype: int64

In [48]:
#groups = licitacoes.groupby(['Código UG', 'Número Licitação', 'Código Item Compra'])
#groups.count()

                                                   CNPJ Participante  \
Código UG Número Licitação Código Item Compra
110001    12018            1100010600001200000000                  1
                           1100010700001200000000                  1
          172017           1100010700017200000000                  5
          412017           1100010500041200000000                 80
          452017           1100010500045200000000                102
          462017           1100010500046200000000                 73
          482017           1100010500048200000000                  5
          492017           1100010500049200000000                156
          522017           1100010500052200000000                  1
          612017           1100010600061200000000                  2
          632017           1100010600063200000000                  1
110096    12017            1100960200001200000000                  1
          272017           1100960500027200000000                143
          282017           1100960500028200000000                 27
          302017           1100960500030200000000                 30
110097    92017            1100970700009200000000                  1
          552017           1100970600055200000000                  1
          602017           1100970600060200000000                  1
          612017           1100970600061200000000                  1
          622017           1100970600062200000000                  1
          632017           1100970600063200000000                  1
110099    122016           1100990500012200000000               3590
110101    12018            1101010600001200000000                  1
110102    102017           1101020500010200000000                 40
          182017           1101020500018200000000                497
          352017           1101020600035200000000                  1
          392017           1101020600039200000000                  1
          412017           1101020700041200000000                  1
          422017           1101020600042200000000                  1
110120    12018            0                                      29
...                                                              ...
791800    242017           7918000500024200000000                  8
          382017           7918000500038200000000                  3
          492017           7918000500049200000000                124
795380    62017            7953800500006200000000               2044
795500    62017            7955000500006200000000                 14
          82017            7955000500008200000000                  8
          122017           7955000500012200000000                  4
          132016           7955000500013200000000                  5
803010    12018            8030100700001200000000                  1
          22018            8030100700002200000000                  1
          152018           8030100500015200000000                 26
          1042018          8030100700104200000000                  1
          1052018          8030100700105200000000                  1
          1062018          8030100700106200000000                  1
          1072018          8030100700107200000000                  1
          1092018          8030100700109200000000                  1
          16622017         8030100501662200000000                  4
          17702017         8030100501770200000000                  1
803030    11172017         8030300501117200000000                  8
          13102017         8030300501310200000000                 11
803080    10292017         8030800501029200000000                140
          16272017         8030800501627200000000                 10
          16612017         8030800501661200000000                120
          17972017         8030800501797200000000                  3
806030    16682017         8060300501668200000000                  2
          19562017         8060300601956200000000                  1
810005    12017            8100050700001200000000                  1
          12018            8100050500001200000000                 38
          52017            8100050500005200000000                 26
          62017            8100050500006200000000                 58

                                                   Flag Vencedor
Código UG Número Licitação Código Item Compra
110001    12018            1100010600001200000000              1
                           1100010700001200000000              1
          172017           1100010700017200000000              5
          412017           1100010500041200000000             80
          452017           1100010500045200000000            102
          462017           1100010500046200000000             73
          482017           1100010500048200000000              5
          492017           1100010500049200000000            156
          522017           1100010500052200000000              1
          612017           1100010600061200000000              2
          632017           1100010600063200000000              1
110096    12017            1100960200001200000000              1
          272017           1100960500027200000000            143
          282017           1100960500028200000000             27
          302017           1100960500030200000000             30
110097    92017            1100970700009200000000              1
          552017           1100970600055200000000              1
          602017           1100970600060200000000              1
          612017           1100970600061200000000              1
          622017           1100970600062200000000              1
          632017           1100970600063200000000              1
110099    122016           1100990500012200000000           3590
110101    12018            1101010600001200000000              1
110102    102017           1101020500010200000000             40
          182017           1101020500018200000000            497
          352017           1101020600035200000000              1
          392017           1101020600039200000000              1
          412017           1101020700041200000000              1
          422017           1101020600042200000000              1
110120    12018            0                                  29
...                                                          ...
791800    242017           7918000500024200000000              8
          382017           7918000500038200000000              3
          492017           7918000500049200000000            124
795380    62017            7953800500006200000000           2044
795500    62017            7955000500006200000000             14
          82017            7955000500008200000000              8
          122017           7955000500012200000000              4
          132016           7955000500013200000000              5
803010    12018            8030100700001200000000              1
          22018            8030100700002200000000              1
          152018           8030100500015200000000             26
          1042018          8030100700104200000000              1
          1052018          8030100700105200000000              1
          1062018          8030100700106200000000              1
          1072018          8030100700107200000000              1
          1092018          8030100700109200000000              1
          16622017         8030100501662200000000              4
          17702017         8030100501770200000000              1
803030    11172017         8030300501117200000000              8
          13102017         8030300501310200000000             11
803080    10292017         8030800501029200000000            140
          16272017         8030800501627200000000             10
          16612017         8030800501661200000000            120
          17972017         8030800501797200000000              3
806030    16682017         8060300501668200000000              2
          19562017         8060300601956200000000              1
810005    12017            8100050700001200000000              1
          12018            8100050500001200000000             38
          52017            8100050500005200000000             26
          62017            8100050500006200000000             58

[3230 rows x 2 columns]

In [17]:
ug = data['Código UG'].drop_duplicates()
itens = data['Código Item Compra'].drop_duplicates()
licitacoes = data['Número Licitação'].drop_duplicates()
participantes = data['CNPJ Participante'].drop_duplicates()

print(len(ug))
print(len(itens))
print(len(licitacoes))
print(len(participantes))

1093
3143
476
15473

Evento de Licitação = UG + Item + Licitação

In [53]:
#dtype={'CNPJ Participante': sqlalchemy.types.BigInteger}
#ug.to_sql('ug', con=engine, index=False, if_exists='append')
#itens.to_sql('item', con=engine, index=False, if_exists='append')
#licitacoes.to_sql('licitacao', con=engine, index=False, if_exists='append')]

data.to_sql('licitacoes', con=engine, index=False, if_exists='append')

In [72]:
#licitacoes
dataL = []

for licitacao in licitacoes:
    dataL.append(data.loc[data['Número Licitação'] == licitacao])

#dataL.count()
len(dataL)

476