In [109]:
import pandas as pd
import sqlalchemy as sqlalchemy
engine = create_engine('mysql+pymysql://root@localhost:3306/tcc', echo=False)

In [115]:
data = pd.read_csv("201801_ParticipantesLicitacao.csv", sep=";", encoding="latin-1", low_memory=False)
data.drop(["Nome Órgão", "Código Órgão", "Nome UG", "Descrição Item Compra", "Nome Participante"], axis=1, inplace=True)
data.sort_values(['Código UG', 'Número Licitação', 'Código Item Compra', 'CNPJ Participante'])
data.head()

,Código UG,Número Licitação,Código Item Compra,CNPJ Participante,Flag Vencedor
0,151911,12016,1519110500001200000000,8398304000160,NÃO
1,151911,12016,1519110500001200000000,323090000151,NÃO
2,151911,12016,1519110500001200000000,9019150000111,NÃO
3,151911,12016,1519110500001200000000,13146946000102,NÃO
4,151911,12016,1519110500001200000000,3325436000149,NÃO

In [111]:
ug = data['Código UG'].drop_duplicates()
itens = data['Código Item Compra'].drop_duplicates()
licitacoes = data['Número Licitação'].drop_duplicates()
participantes = data['CNPJ Participante'].drop_duplicates()
print(len(ug))
print(len(itens))
print(len(licitacoes))
print(len(participantes))

1093
3143
476
15473

In [112]:
#dtype={'CNPJ Participante': sqlalchemy.types.BigInteger}

ug.to_sql('ug', con=engine, index=False, if_exists='append')
itens.to_sql('item', con=engine, index=False, if_exists='append')
licitacoes.to_sql('licitacao', con=engine, index=False, if_exists='append')
participantes.to_sql('participante', con=engine, index=False, if_exists='append')

In [72]:
#licitacoes
dataL = []

for licitacao in licitacoes:
    dataL.append(data.loc[data['Número Licitação'] == licitacao])

#dataL.count()
len(dataL)

476