In [58]:
import pandas as pd
data = pd.read_csv("201801_ParticipantesLicitacao.csv", sep=";", encoding="latin-1", low_memory=False)
data.drop(["Nome Órgão", "Código Órgão", "Nome UG", "Descrição Item Compra", "Nome Participante"], axis=1, inplace=True)

In [64]:
#data.sort_values(['Número Licitação', 'Código Item Compra', 'Código UG'])
data = data.drop_duplicates()
print(len(dt))
data.head()

56972

,Código UG,Número Licitação,Código Item Compra,CNPJ Participante,Flag Vencedor
0,151911,12016,1519110500001200000000,8398304000160,NÃO
1,151911,12016,1519110500001200000000,323090000151,NÃO
2,151911,12016,1519110500001200000000,9019150000111,NÃO
3,151911,12016,1519110500001200000000,13146946000102,NÃO
4,151911,12016,1519110500001200000000,3325436000149,NÃO

In [63]:
ug = data['Código UG'].unique().tolist()
cnpj = data['CNPJ Participante'].unique().tolist()
item = data['Código Item Compra'].unique().tolist()
licitacao = data['Número Licitação'].unique().tolist()

print(len(ug))
print(len(cnpj))
print(len(item))
print(len(licitacao))

1093
15473
3143
476

In [56]:
dt = data.loc[data['Flag Vencedor'] == 'SIM']
len(dt)

56972