In [1]:
import pandas as pd
df = pd.read_csv('../DataSet/results/30-09-2019resultFilteredWFlag.csv', low_memory=False, sep=';', encoding='latin-1')
df = df.drop(columns=['flag'])
df.to_csv('../DataSet/results/input.csv', index=False, sep=';', header=True, encoding='latin-1')

In [121]:
df1 = pd.DataFrame(columns=['bar', 'item', 'foo'])
df1['bar'] = ['001', '001', '001', '001', '002', '002', '002', '003', '003', '003']
df1['item'] = ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c']
df1['foo'] = ['SIM', 'NÃO', 'NÃO', 'NÃO', 'SIM', 'SIM', 'NÃO', 'SIM', 'SIM', 'SIM']

In [122]:
grouped = df1.groupby(['bar', 'item'])

In [123]:
grouped.head()

   bar item  foo
0  001    a  SIM
1  001    a  NÃO
2  001    a  NÃO
3  001    a  NÃO
4  002    b  SIM
5  002    b  SIM
6  002    b  NÃO
7  003    c  SIM
8  003    c  SIM
9  003    c  SIM

In [124]:
grouped = grouped.filter(lambda x: sum(x['foo']=='SIM')==1 & sum(x['foo']=='NÃO')>=1)
grouped.head()

   bar item  foo
0  001    a  SIM
1  001    a  NÃO
2  001    a  NÃO
3  001    a  NÃO

In [125]:
grouped = grouped.reset_index().drop(columns=['index'])
grouped["event"] = grouped["bar"].map(str) + grouped["item"]

In [126]:
grouped.drop(columns=['bar', 'item'])

   foo event
0  SIM  001a
1  NÃO  001a
2  NÃO  001a
3  NÃO  001a