In [7]:
import pandas as pd
data = pd.read_csv("201801_ParticipantesLicitacao.csv", sep=";", encoding="latin-1", low_memory=False)
data.drop(["Nome Órgão", "Código Órgão", "Nome UG", "Descrição Item Compra", "Nome Participante"], axis=1, inplace=True)

In [9]:
data.sort_values(['Número Licitação', 'Código Item Compra', 'Código UG'])
data.head()

,Código UG,Número Licitação,Código Item Compra,CNPJ Participante,Flag Vencedor
0,151911,12016,1519110500001200000000,8398304000160,NÃO
1,151911,12016,1519110500001200000000,323090000151,NÃO
2,151911,12016,1519110500001200000000,9019150000111,NÃO
3,151911,12016,1519110500001200000000,13146946000102,NÃO
4,151911,12016,1519110500001200000000,3325436000149,NÃO

In [35]:
ug = data['Código UG'].drop_duplicates().tolist()
cnpj = data['CNPJ Participante'].drop_duplicates()
item = data['Código Item Compra'].drop_duplicates()
licitacao = data['Número Licitação'].drop_duplicates()

print(len(ug))
print(len(cnpj))
print(len(item))
print(len(licitacao))

1093
15473
3143
476

In [39]:
teste = data.groupby(['Código UG','Código Item Compra','Número Licitação', 'CNPJ Participante'])
teste.drop_duplicates()
teste.head()

AttributeError: Cannot access callable attribute 'drop_duplicates' of 'DataFrameGroupBy' objects, try using the 'apply' method