In [1]:
import os
import pandas as pd
import pymysql.cursors
from sqlalchemy import create_engine

In [8]:
data = pd.read_csv('../DataSet/201301_ParticipantesLicitacao.csv',
                               sep=';', encoding='latin-1')

In [9]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142213 entries, 0 to 142212
Data columns (total 10 columns):
Código Órgão             142213 non-null int64
Nome Órgão               142213 non-null object
Código UG                142213 non-null int64
Nome UG                  142213 non-null object
Número Licitação         142213 non-null int64
Código Item Compra       142213 non-null object
Descrição Item Compra    142213 non-null object
CNPJ Participante        142213 non-null object
Nome Participante        142213 non-null object
Flag Vencedor            142213 non-null object
dtypes: int64(3), object(7)
memory usage: 86.2 MB

In [10]:
engine = create_engine('mysql://root:root@localhost/tcc?unix_socket=/var/run/mysqld/mysqld.sock')
data.to_sql('participante', con=engine, if_exists='append')

NameError: name 'table' is not defined